---
http_interactions:
- request:
    method: post
    uri: https://stbfep.sps-system.com/api/xmlapi.do
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="Shift_JIS"?><sps-api-request id="ST01-00111-101"><merchant_id>30132</merchant_id><service_id>002</service_id><cust_code>Quipper
        Customer ID</cust_code><order_id>e3aa8a9540c658cb5aa1f52a7e48216f</order_id><item_id>item_1</item_id><item_name>aXRlbQ==</item_name><amount>1250</amount><sps_cust_info_return_flg>1</sps_cust_info_return_flg><dtls><dtl><dtl_rowno>1</dtl_rowno><dtl_item_id>item_1</dtl_item_id><dtl_item_name>aXRlbSAx</dtl_item_name><dtl_item_count>2</dtl_item_count><dtl_amount>500</dtl_amount></dtl><dtl><dtl_rowno>2</dtl_rowno><dtl_item_id>item_2</dtl_item_id><dtl_item_name>aXRlbSAy</dtl_item_name><dtl_item_count>1</dtl_item_count><dtl_amount>250</dtl_amount></dtl></dtls><pay_method_info><cc_number>4242424242424242</cc_number><cc_expiration>202001</cc_expiration><security_code>000</security_code><dealings_type>10</dealings_type></pay_method_info><pay_option_manage><cust_manage_flg>1</cust_manage_flg><cardbrand_return_flg>1</cardbrand_return_flg></pay_option_manage><encrypted_flg>0</encrypted_flg><request_date>20171127193717</request_date><sps_hashcode>1b9ba6c00ca7d14ba497614f5c0a2c6782e07390</sps_hashcode></sps-api-request>
    headers:
      Content-Type:
      - text/xml
      Authorization:
      - Basic MzAxMzIwMDI6ODQzNWRiZDQ4ZjIyNDk4MDdlYzIxNmMzZDVlY2FiNzE0MjY0Y2M0YQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=Shift_JIS
      Content-Language:
      - ja
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='Shift_JIS' ?>\n  <sps-api-response id=\"ST01-00111-101\">\n
        \   <res_result>OK</res_result>\n    <res_sps_transaction_id>B30132002ST010011110100361052543</res_sps_transaction_id>\n
        \   <res_tracking_id>00000616307350</res_tracking_id>\n    <res_pay_method_info>\n
        \     <cc_company_code>10035</cc_company_code>\n      <cardbrand_code>V</cardbrand_code>\n
        \     <recognized_no>123456</recognized_no>\n      \n    </res_pay_method_info>\n
        \   <res_sps_info>\n      <res_sps_cust_no>849884055716</res_sps_cust_no>\n
        \     <res_sps_payment_no>003</res_sps_payment_no>\n    </res_sps_info>\n
        \   <res_process_date>20171127193711</res_process_date>\n    <res_err_code/>\n
        \   <res_date>20171127193712</res_date>\n  </sps-api-response>\n"
  recorded_at: Mon, 27 Nov 2017 10:37:18 GMT
- request:
    method: post
    uri: https://stbfep.sps-system.com/api/xmlapi.do
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="Shift_JIS"?><sps-api-request id="ST02-00101-101"><merchant_id>30132</merchant_id><service_id>002</service_id><sps_transaction_id>B30132002ST010011110100361052543</sps_transaction_id><tracking_id>00000616307350</tracking_id><processing_datetime>20171127193711</processing_datetime><request_date>20171127193718</request_date><sps_hashcode>f7085f0d7eacd5796b738a3e8dd878d19be1c519</sps_hashcode></sps-api-request>
    headers:
      Content-Type:
      - text/xml
      Authorization:
      - Basic MzAxMzIwMDI6ODQzNWRiZDQ4ZjIyNDk4MDdlYzIxNmMzZDVlY2FiNzE0MjY0Y2M0YQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=Shift_JIS
      Content-Language:
      - ja
    body:
      encoding: UTF-8
      string: |
        <?xml version='1.0' encoding='Shift_JIS' ?>
          <sps-api-response id="ST02-00101-101">
            <res_result>OK</res_result>
            <res_sps_transaction_id>B30132002ST020010110100361052552</res_sps_transaction_id>
            <res_process_date>20171127193712</res_process_date>
            <res_err_code/>
            <res_date>20171127193712</res_date>
          </sps-api-response>
  recorded_at: Mon, 27 Nov 2017 10:37:18 GMT
- request:
    method: post
    uri: https://stbfep.sps-system.com/api/xmlapi.do
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="Shift_JIS"?><sps-api-request id="ST02-00201-101"><merchant_id>30132</merchant_id><service_id>002</service_id><sps_transaction_id>B30132002ST010011110100361052543</sps_transaction_id><tracking_id>00000616307350</tracking_id><processing_datetime>20171127193711</processing_datetime><pay_option_manage></pay_option_manage><request_date>20171127193718</request_date><sps_hashcode>f7085f0d7eacd5796b738a3e8dd878d19be1c519</sps_hashcode></sps-api-request>
    headers:
      Content-Type:
      - text/xml
      Authorization:
      - Basic MzAxMzIwMDI6ODQzNWRiZDQ4ZjIyNDk4MDdlYzIxNmMzZDVlY2FiNzE0MjY0Y2M0YQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=Shift_JIS
      Content-Language:
      - ja
    body:
      encoding: UTF-8
      string: |
        <?xml version='1.0' encoding='Shift_JIS' ?>
          <sps-api-response id="ST02-00201-101">
            <res_result>OK</res_result>
            <res_sps_transaction_id>B30132002ST020020110100361052561</res_sps_transaction_id>
            <res_process_date>20171127000000</res_process_date>
            <res_err_code/>
            <res_date>20171127193712</res_date>
          </sps-api-response>
  recorded_at: Mon, 27 Nov 2017 10:37:18 GMT
recorded_with: VCR 3.0.3
