---
http_interactions:
- request:
    method: post
    uri: https://stbfep.sps-system.com/api/xmlapi.do
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="Shift_JIS"?><sps-api-request id="MG02-00101-101"><merchant_id>30132</merchant_id><service_id>002</service_id><cust_code>80938dc1dafaf9a823f45733f26d3e68</cust_code><sps_cust_info_return_flg>1</sps_cust_info_return_flg><pay_method_info><cc_number>4242424242424242</cc_number><cc_expiration>202001</cc_expiration><security_code>000</security_code><resrv1>g2WDWINng4aBW4NVgVs=</resrv1></pay_method_info><pay_option_manage><cardbrand_return_flg>1</cardbrand_return_flg></pay_option_manage><encrypted_flg>0</encrypted_flg><request_date>20160711184730</request_date><sps_hashcode>49f2376df152e9fd3a76b5daaee4c8cc4215c951</sps_hashcode></sps-api-request>
    headers:
      Content-Type:
      - text/xml
      Authorization:
      - Basic MzAxMzIwMDI6ODQzNWRiZDQ4ZjIyNDk4MDdlYzIxNmMzZDVlY2FiNzE0MjY0Y2M0YQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Cteonnt-Length:
      - '579'
      Content-Type:
      - text/xml;charset=Shift_JIS
      Content-Language:
      - ja
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version='1.0' encoding='Shift_JIS' ?>
          <sps-api-response id="MG02-00101-101">
            <res_result>OK</res_result>
            <res_sps_transaction_id>B30132002MG020010110100156700040</res_sps_transaction_id>
            <res_pay_method_info>
              <cardbrand_code>V</cardbrand_code>
            </res_pay_method_info>
            <res_sps_info>
              <res_sps_cust_no>321355088833</res_sps_cust_no>
              <res_sps_payment_no>001</res_sps_payment_no>
            </res_sps_info>
            <res_process_date>20160711184737</res_process_date>
            <res_err_code/>
            <res_date>20160711184737</res_date>
          </sps-api-response>
  recorded_at: Mon, 11 Jul 2016 09:47:37 GMT
- request:
    method: post
    uri: https://stbfep.sps-system.com/api/xmlapi.do
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="Shift_JIS"?><sps-api-request id="MG02-00104-101"><merchant_id>30132</merchant_id><service_id>002</service_id><cust_code>80938dc1dafaf9a823f45733f26d3e68</cust_code><sps_cust_info_return_flg>1</sps_cust_info_return_flg><response_info_type>2</response_info_type><pay_option_manage><cardbrand_return_flg>1</cardbrand_return_flg></pay_option_manage><encrypted_flg>0</encrypted_flg><request_date>20160711184737</request_date><sps_hashcode>599ded13a2758cc4c99d270100b2f398fb01d8bb</sps_hashcode></sps-api-request>
    headers:
      Content-Type:
      - text/xml
      Authorization:
      - Basic MzAxMzIwMDI6ODQzNWRiZDQ4ZjIyNDk4MDdlYzIxNmMzZDVlY2FiNzE0MjY0Y2M0YQ==
  response:
    status:
      code: 200
      message: OK
    headers:
     [...]
[...]
